!!! 5
%html
  %head
    %title= h(t('runit.title', :p1 => @title, :p2 => t('runit.label')))
    %link{:href=>url_for("/css/bootstrap.min.css"), :type=>"text/css", :rel=>"stylesheet"}/
    %link{:href=>url_for("/css/runit-man.css"), :type=>"text/css", :rel=>"stylesheet"}/
  %body{"data-services-url" => url_for("/services")}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href=>url_for("/")}= h(t('runit.header', :p1 => host_name, :p2 => t('runit.label')))
          %ul.nav
            %li
              %a{:href=>url_for("/info")}= h(t('runit.info.title'))
    .container-fluid
      .row-fluid
        .span12= yield_content :content
      .row-fluid
        .span12= yield_content :footer
    - @scripts.each do |name|
      %script{:type=>"text/javascript", :src=>url_for("/js/#{h(name)}.js")}

